<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Задачи для - <%= token.role.toLowerCase() %></title>

        <%- include('../partials/head'); %>

    </head>

    <body class="<%= token.role.toLowerCase() %>">
        <% if (token.role === 'CUSTOMER') { %>

            <%- include('../partials/customer'); %>

        <% } else if (token.role === 'REVIEWER') { %>

            <%- include('../partials/reviewer'); %>

        <% } else if (token.role === 'DEVELOPER') { %>

            <%- include('../partials/developer'); %>

        <% } %>
    </body>

</html>